@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model Models.Article




<div class="cwiki-flex-item">
	<div class="card border border-primary mb-3">
		<div class="card-header">
			<h3 class="card-title">
				<a href="@($"/{(Model.Slug == "home-page" ? "" : Model.Slug)}")">@Model.Topic</a>
			</h3>
		</div>
		<div class="card-body">
			<h6 class="card-subtitle mb-2 text-muted"><span data-value="@Model.Published" class="timeStampValue"> @Model.Published</span></h6>
			<h6 class="card-subtitle mb-2 text-muted">View Count: <span> @Model.ViewCount</span></h6>

			<a class="card-link btn btn-outline-info btn-sm" asp-page="/Edit" asp-route-slug="@Model.Slug">Edit</a>

			@if ((await AuthorizationService.AuthorizeAsync(User, "CanDeleteArticles")).Succeeded)
			{

				<a class="card-link btn btn-outline-danger btn-sm" asp-page="/Delete" asp-route-slug="@Model.Slug">Delete</a>

			}
			else
			{
				<span class="card-link btn btn-outline-danger disabled btn-sm" title="You do not have permission to delete this article">Delete</span>
			}

		</div>
	</div>

</div>
