@page "{PageNumber?}"
	@model CoreWiki.Pages.AllModel
		@{
			ViewData["Title"] = "All";
		}

		<h2>All Articles</h2>

		<pager total-pages="Model.TotalPages" current-page="Model.PageNumber"></pager>

		@*<ul class="pagination">
			@for (var pageNum = 1; pageNum <= Model.TotalPages; pageNum++)
			{

				<li class="page-item @(pageNum == Model.PageNumber ? "active" : "")">
				@if (pageNum == Model.PageNumber)
				{
					<a class="page-link active" href="#">@pageNum</a>
				}
				else
				{
					<a class="page-link" asp-page="./All" asp-route-PageNumber="@pageNum">@pageNum</a>
				}
				</li>

			}
		</ul>*@

		@foreach (var item in Model.Articles)
		{

			<div class="card border border-primary mb-3">
				<div class="card-header">
					<h3 class="card-title">
						<a href="@($"/{(item.Slug == "home-page" ? "" : item.Slug)}")">@item.Topic</a>
					</h3>
				</div>
				<div class="card-body">
					<h6 class="card-subtitle mb-2 text-muted"><span data-value="@item.Published" class="timeStampValue"> @item.Published</span></h6>

					<a class="card-link" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
					<a class="card-link" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

				</div>


			</div>
		}

		@section Styles {
			<style>
				.pageNumber {
					margin: 0px 4px;
				}
			</style>
		}


