@{
	ViewData["Title"] = Localizer["ArticleNotFound"];
}
<h1>@Localizer["ArticleNotFound"]</h1>

<ul>
	<li>@Localizer["ListItem1"]</li>
	<li>@Localizer["ListItem2"]</li>

	<li asp-policy="@PolicyConstants.CanWriteArticles" asp-policy-hidden="true">@Localizer["ListItem3"]</li>
</ul>

<div>
	<a class="btn btn-outline-info" asp-page="/Create" asp-policy="@PolicyConstants.CanWriteArticles" asp-policy-hidden="true">@Localizer["Create"]</a>
</div>
<br />
<a href="~/">@Localizer["GoHome"]</a>
