@{
	ViewData["Title"] = Localizer["ArticleNotFound"];
}
<h1>@Localizer["ArticleNotFound"]</h1>

<ul>
	<li>@Localizer["ListItem1"]</li>
	<li>@Localizer["ListItem2"]</li>

	@* TODO: Only show ListItem3 if the user satisfies the policy to create articles *@
	<li>@Localizer["ListItem3"]</li>
</ul>

@* TODO: Only show button if the user satisfies the policy to create articles *@
<div>
<a class="btn btn-outline-info" asp-page="/Create">@Localizer["Create"]</a>
</div>
<br />
<a href="~/">@Localizer["GoHome"]</a>
