@page
@model CoreWiki.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this article?</h3>
<hr />
<br/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.Published)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Published)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Content)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Article.Topic" />
        <input type="submit" value="Delete" class="btn btn-default" />

    </form>
    <div>
        <a asp-page="./Details">Back to Home</a>
    </div>
</div>
