@page
@model CoreWiki.Pages.DeleteModel

@{
    ViewData["Title"] = Localizer["Delete"];
}

<h2>@Localizer["Delete"]</h2>

<h3>@Localizer["DeleteQuestion"]</h3>
<hr />
<br/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.Published)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Published)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Content)
        </dd>
    </dl>

    <form method="post">
        <button type="submit" class="btn btn-outline-primary" asp-policy="CanDeleteArticles" asp-policy-message="You do not have permission to delete this article.">@Localizer["Delete"]</button>
    </form>
    <div>
        <a asp-page="./Details">@Localizer["GoHome"]</a>
    </div>
</div>
