@page
@model CoreWiki.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Article[0].Published)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Article[0].Content)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Topic">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Topic">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Topic">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
