@page
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<CoreWikiUser> UserManager
@model IndexModel

<h2>Current Roles:</h2>
<table class="table table-striped table-hover table-condensed table-bordered">
	<tr>
		<th>Role Id</th>
		<th>Role Name (Normalized)</th>
		<th>Role Name</th>
		<th>Actions</th>
	</tr>
	@foreach (var role in Model.RolesList)
	{
		<tr>
			<td> @role.Id </td>
			<td> @role.NormalizedName </td>
			<td> @role.Name </td>
			<td>
				<form method="post">
					<input type="hidden" asp-for="@Model.RoleToRemove" value="@role.NormalizedName" />
					<input type="submit" class="btn btn-danger mb-1" value="Delete Role" asp-page-handler="DeleteRole" />
				</form>
				<a class="btn btn-warning disabled">Amend Role</a>
			</td>
		</tr>
	}
	<tr>
		<td colspan="4" class="text-center">
			<a asp-page="./Roles" class="btn btn-sm btn-success">
				<i class="fa fa-plus"></i> Create role
			</a>
		</td>
	</tr>
</table>

<h2>Current Users:</h2>
<table class="table table-striped table-hover table-condensed table-bordered">
	<tr>
		<th>User Name</th>
		<th>Manage Roles</th>
	</tr>
	@foreach (var user in Model.UsersList)
	{
		<tr>
			<td> @user.UserName </td>
			@if (Model.RoleNames.Count < 1)
			{
				<td class="text-center">
					No roles are currently available. Please add a role.
				</td>
			}
			else
			{
				<td>
					@{
						var currentUsersRoles = await UserManager.GetRolesAsync(user);
					}
					<form method="post">
						<input type="hidden" asp-for="@Model.UsernameToAddRoleTo" value="@user.UserName" />
						@foreach (var roleName in Model.RoleNames)
						{
							var checkboxId = $"checkbox_{user.Id}_{roleName}";

							<div class="custom-control custom-checkbox mb-2">
								<input class="custom-control-input" type="checkbox" name="updatedRoles" value="@roleName" id="@checkboxId" checked="@currentUsersRoles.Contains(roleName)">
								<label class="custom-control-label w-100" for="@checkboxId">
									@roleName
								</label>
							</div>
						}
						<input type="submit" asp-page-handler="UpdateUserRoles" class="btn btn-sm btn-success" value="Update Roles" />
					</form>
				</td>
			}
		</tr>
	}
	<tr>
		<td colspan="2" class="text-center">
			<a asp-page="./User" class="disabled btn btn-sm btn-success">
				<i class="fa fa-plus"></i> Create new user
			</a>
		</td>
	</tr>
</table>
